<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome <%= @user.name %></h1>
    <p>
      Group create a new Event @event.name 
    </p>
    <p>Thanks for trust our group</p>
  </body>
</html>