<head>
 <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
</head>
		
<div class="container-fluid"  style="padding-left: 0px; padding-right:0px;  margin:0px;padding:0px;">
  <div class="jumbotron" style="background-image: url('<%= asset_path( 'cal.jpg' ) %>');width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-origin: center center;
    background-size: cover; padding-left: 0px; padding-right: 0px; margin-left:0px;margin-right:0px; margin:0px ; padding:0px">
  </div>


		<div class="container">
		<div class="row">
			<div class="col-md-9">
			
				<form id="myForm" method="GET" action="search">
					<input type="hidden" id="search" value="test" name="date" />
				</form>
				
				<div class="page-header">
        			<h1  class="text-primary"> Available Events :</h1>
    			</div>

				<div id="result"> </div> 

			</div>
			<div class="col-md-3">
				<br><br>
			 	<div id="datepicker"></div>
			</div>


		</div>

	    </div>

		<%= javascript_include_tag "jquery-ui" %>
		<%= javascript_include_tag "jquery-1.10.2" %>
		
		<script>

			$("#datepicker").datepicker({

			   onSelect: function(dateText, inst) {
			   		document.getElementById("result").innerHTML="";
			      var dateAsString = dateText; //the first parameter of this function
			      var dateAsObject = $(this).datepicker( 'getDate' ); //the getDate method
			 
			      x = Number(dateAsObject.getMonth())+1;
			      console.log(x);
			   	  var date=(dateAsObject.getFullYear()+"-"+ x +"-"+dateAsObject.getDate()+" 00:00:00");
			   	
			   	  document.getElementById("search").value = date;
			   	 $.ajax({
				   	  type: "GET",
				   	  url: "search", 
				   	  dataType: "JSON", 
				   	  data: { 'date':date }, 
				   	  complete: function(data) { 
				   	  		console.log(data.responseText);
				   	  		$( "#result" ).html(data.responseText);
				   	  	
				   	  	 }
			   	  });

			   	  // document.getElementById("myForm").submit();
			   }
			});



		</script>	
