<head>
 <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
</head>

			
		<div class="container-fluid">
		  <div class="jumbotron" style="background-image: url('<%= asset_path( '2.jpeg' ) %>'); 			height: 100%;height:400px;no-repeat">
		  </div>

		</div>
		<div class="container">
		<div class="row">
			<div class="col-md-9">
				please select a date -->
				<form id="myForm" method="GET" action="search">
					<input type="hidden" id="search" value="test" name="date" />
				</form>

				<div id="result"></div> 

			</div>
			<div class="col-md-3">
			 	<div id="datepicker"></div>
			</div>


		</div>

	    </div>

		<script src="//code.jquery.com/jquery-1.10.2.js"></script>
		<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
		<%= javascript_include_tag "application" %>

		
		<script>

			$("#datepicker").datepicker({

			   onSelect: function(dateText, inst) {
			   		document.getElementById("result").innerHTML="";
			      var dateAsString = dateText; //the first parameter of this function
			      var dateAsObject = $(this).datepicker( 'getDate' ); //the getDate method
			      console.log(dateAsObject);
			      x = Number(dateAsObject.getMonth())+1;
			      console.log(x);
			   	  var date=(dateAsObject.getFullYear()+"-"+ x +"-"+dateAsObject.getDate()+" 00:00:00");
			   	  console.log(date);
			   	  document.getElementById("search").value = date;
			   	 $.ajax({
				   	  type: "GET",
				   	  url: "search", 
				   	  dataType: "JSON", 
				   	  data: { 'date':date }, 
				   	  complete: function(data) { 
				   	  		console.log(data.responseText);
				   	  		$( "#result" ).html(data.responseText);
				   	  	
				   	  	 }
			   	  });

			   	  // document.getElementById("myForm").submit();
			   }
			});



		</script>	
