
<h>hello in find</h>
<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>