

 <% @groups.each do |group| %>
        <div class="col-sm-6 col-md-4">

            <div class="thumbnail">
                <div class="page-header">
                    <h3 class="text-primary"><%= group.name  %></h3>
                </div>
                <%= link_to group do %>
                  <%= image_tag group.g_image.url , style: "width:300px;height:300px;" %>
                <% end %>
              
            </div>

        </div>
    <% end %>
